*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100vh;
}
.navbar{
    /* position: relative; */
    /* top: 1rem; */
    width: 100%;
    height: 6rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 30px; */
}
.logoMenu{
    padding-left: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navitems{
    font-family: DM Sans;
    color: #696969;
    letter-spacing: 0.08rem;
    font-weight: 530px;
    column-gap: 30px;
    font-size: 18px;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding-right: 3rem;
}
.btn{
    width: 9rem;
    height: 2.7rem;
    border: thick;
    border-color: #696969;
    border-radius: 30px;
    font-family: DM Sans;
    font-weight: 800;
    letter-spacing: 0.08rem;
    background-color: white;
    cursor: pointer;
}
#not-selected{
    border: 1px solid #696969;
}
.select{
    color: white;
    background-color: #FF7629;
}
.heading1{
    font-family: DM Sans;
}
.sections{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}
.boxes{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #c2bebe;
    border-radius: 1rem;
    width: 15rem;
    height: 25rem;
}
.Adheading{
    color: black;
    font-family: DM Sans;
}

.Advertisements{
    /* border: 1px solid black; */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.8rem;
    align-items: center;
}


.content-part{
    display: flex;
    justify-content: space-between;
}
.names{
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
}
.fonts{
    font-family: DM Sans;
    font-size: 3rem;
}
.content-button{
    display: flex;  
    gap: 2rem;
}
.orange{
    color: #FF7629;
}
.content{
    width: 25rem;
    height: 20rem;
    border: 1 px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    position: relative;
    top: 2rem;
    left: 5rem;
    margin: 4rem;
}
.boxes p{
    width: 10rem;
}
.para{
    font-family: DM Sans;
    color: #696969;
    font-weight: 500rem;
    
}
.burger{
    position: relative;
}
.burger-pic{
    position: absolute;
    top: 1.8rem;
    right: 13rem;
}
.pic1{
    border-radius: 15px;
    width: 27rem;
}
.orangebg{
    width: 30rem;
    height: 30rem;
    background-color: #FF7629;
}

/* Menu Browser */
.menu-browser{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
#explore{
    font-family: DM Sans;
}
#btnn{
    margin-top: 2rem;
}
button:hover{
    cursor: pointer;
}
.left{
    width: 30%;
    height: 50rem;
    /* border: 1px solid black; */
    position: relative;
}
.right{
    width: 60%;
    height: 30rem;
    /* border: 1px solid black; */
    /* background-color: red; */
}

/* About Us */

.about-us img{
    /* width: 25rem; */
    border-radius: 2rem;
}
.get-in-touch{
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 2rem;
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem;
    gap: 1rem;
    position: absolute;
    top: 23rem;
    left: 12rem;
}
.about-us{
    margin-top: 5rem;
    padding: 10rem;
    width: 100%;
    height: 150vh;
    /* position: relative; */
    background-color: #FFF9F3;
    display: flex;
    justify-content: space-between;
    gap: 30rem;
}
.get-in-touch h2{
    color: black;
    font-family: DM Sans;
}
.connect{
    display: flex;
    gap: 1rem;
}
.call{
    width: 10rem;
}
.icons{
    width: 20px;
}
.burgers{
    position: absolute;
}
.burgers img{
    width: 33rem;
}
.mail-us img{
    width: 1rem;
}
.address img{
    width: 1rem;
}
.contact-us img{
    width: 1rem;
}
.self-info{
    width: 25rem;
    height: 30rem;
    /* border: 1px solid black; */
    padding-top: 7rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.self-info h1{
    font-family: DM Sans;
}

/* browser our menu */

.browse-our-menu{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
}
.menu-items{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
    grid-template-rows: 14rem 14rem;
    gap: 9.5rem;
    margin-right: -1rem;
    margin-bottom: 3rem;
}
.menu-heading{
    font-family: DM Sans;
}
.menu-description{
    font-family: DM Sans;
    width: 40rem;
    color: #696969;
}
.flexed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    width: 16rem;
    border-radius: 2rem;
}
.item-heading{
    width: 15rem;
    font-family: DM Sans;
    text-align: center;
}
.para-pos{
    text-align: center;
    width: 15rem;
    font-size: 17px;
    filter:contrast(1.75);
}

/* ad pages */

.ad-page{
    margin-top: 6rem;
    display: flex;
}
.left1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    gap: 2rem;
    /* border: 1px solid black; */
    background-color: #FF7629;
}
.left1 h1{
    font-family: DM Sans;
    width: 20rem;
    color: white;
    font-weight: bold;
}
#wh{
    background-color: white;
    color: black;
}
#or{
    background-color: #FF7629;
    color: white;
    border: 1px solid white;
}
.left1 p{
    width: 20rem;
}
.right1{
    width: 50%;
}
.right1 img{
    width: 50vw;
    height: 100vh;
}
.guidelines{
    width: 40rem;
}

/* feedback */

.feedback{
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
q{ 
    quotes: '“' '”'
}
.feedback h1{
    font-family: DM Sans;
}
.comments{
    border: 3px solid #b3afaf;
    border-radius: 3rem;
    width: 40rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    padding: 1rem;
}
.comments h2{
    font-family: DM Sans;
}
.profile h3{
    font-family: DM Sans;
}
.name-place p{
    font-family: DM Sans;
}
.rating{
    display: flex;
}
.star{
    width: 1.5rem;
}
.translation{
    width: 38rem;
}
.profile{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.profile img{
    width: 4rem;
    border-radius: 50rem;
}


/* our articles */
.our-articles{
    margin-top: 6rem;
    width: 100%;
    height: 160vh;
    background-color: #FFF9F3;
    padding: 10rem 7rem;
}
.top-icons{
    display: flex;
    justify-content: space-between;
}
.top-icons button{
    background-color: white;
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
}
.fonts1{
    font-family: DM Sans;
}
.left1 p{
    color: white;
}
.recipes{
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 4rem;
}
.left2{
    margin-top: 3rem;
    width: 50%;
    height: 110vh;
    /* border: 1px solid black; */
    border-radius: 5rem;
}
.left2 img{
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    width: 100%;
}
.detail1{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.detail1 h2{
    width: 30rem;
}
.detail{
    height: 18rem;
    width: 15rem;
    /* border: 1px solid black; */
    border-radius: 3rem;
}
.recipe-pics{
    width: 15rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}
.summary{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
}
.summary h3{
    font-size: 1rem;
    font-family: DM Sans;
}
.right2{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}

/* Book Table */
.book-table{
    display: flex;
}
.left3{
    margin-top:3rem ;
    padding-left: 10rem;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 700rem;
    text-align: left;
    gap: 2rem;
}
.right3{
    height: 175vh;
    width: 40%;
    background-color: #FF7629;
    position: relative;
}
#booking-info{
    width: 18rem;
}
.icons{
    width: 30px;
    height: 30px;
}

.booking-form{
    position: absolute;
    top: 7rem;
    right: 10rem;
    width: 35rem;
    height: 140vh;
    border: 3px solid #b3afaf;
    background-color: white;
    padding: 2rem;
    border-radius: 3rem;
}
.user-details{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    height: 120vh;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.curve{
    width: 12rem;
    height: 2rem;
    border-radius: 3rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 0.2px solid #b3afaf;
}
#text-area{
    width: 28rem;
    height: 15rem;
    text-align: center;
}
.add-note{
    grid-column-start: 1;
    grid-column-end: 3;
}
#btn-book-table{
    margin-bottom: 2rem;
    color: white;
}

/* insta follow section */
.marketing{
    width: 100%;
    /* border: 1px solid black; */
    height: 125vh;
    padding: 10rem 6rem;
    background-color: #FFF9F3;
}
#follow-us{
    height: 3rem;
    width: 9rem;
    background-color: #FF7629;
    color: white;
    font-size: 1rem;
}
.header-marketing{
    display: flex;
    justify-content: space-between;
}
.marketing-pics{
    padding: 2rem;
    /* border: 1px solid black; */
    height: 25rem;
    display: grid;
    grid-template-areas: 
    "large1 large2 small1 small2"
    "large1 large2 small3 small4";
}
.marketing-pics img{
    border-radius: 2rem;
}
.large{
    width: 20rem;
}
.small{
    width: 10rem;
}
#large1{
    grid-area: large1;
}
#large2{
    grid-area: large2;
}
#small1{
    grid-area: small1;
}
#small2{
    grid-area: small2;
}
#small3{
    grid-area: small3;
}
#small4{
    grid-area: small4;
}
/* footer section */

.footer{
    margin: 10rem;
    display: flex;
    align-items: start;
     padding-top: 50px; 
    padding-bottom: 50px;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.one p{
    width: 26rem;
}
.imp-links1 h2{
    color: black;
    margin-bottom: 2rem;
}
.imp-links2 h2{
    color: black;
    margin-bottom: 2rem;
}
.two{
    margin-left: 2rem;
    display: flex;
    gap: 4rem;
}
.two li{
    line-height: 2rem;
}
.three{
    margin-left: 8rem;
}
.insta-pics{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
.insta-pics img{
    width: 9rem;
    border-radius: 2rem;
}
@media screen and (max-width: 991px)
 .navbar{
    width: 100%;
    justify-content: center;
}

